# Angular build output
angF/dist
angF/.angular
angF/.angular/cache
angF/.angular/config.json

# Node.js dependencies
angF/node_modules

# IDEs and editors
angF/.vscode
angF/.idea

# OS files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
angF/.env

# Compiled files
*.tsbuildinfo
*.js
*.js.map

# Tailwind and PostCSS
angF/tailwind.config.js
angF/.postcssrc.json

# Coverage reports
angF/coverage


