# Ignore node_modules in any project
**/node_modules/

# Ignore Angular build folders
angF/dist/
angFrontend/dist/

# Ignore Angular TypeScript output folders
angF/out-tsc/
angFrontend/out-tsc/

# Ignore Angular cache folders
angF/.angular/
angFrontend/.angular/

# Ignore Angular environment files if needed
# angF/src/environments/*.ts
# angFrontend/src/environments/*.ts

# Ignore Express backend node_modules
express-backend/node_modules/

# Logs
*.log

# IDE/editor stuff anywhere
.vscode/
.idea/

# System files anywhere
.DS_Store
Thumbs.db

# enviroment variables.
*.env